

@media (min-width: 700px) {
    .image-gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1000px) {
    .image-gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 700px) {
    #menu {
      display: none;
    }
  }