body {
  font-family: Arial, sans-serif;
  background-color: rgb(224, 229, 241);
  color: #f0f4f7;
  min-height: 100vh;
}
@media (max-width: 700px) {
  body {
    font-size: 16px;
    display: flex;
    justify-content: space-around;
  }
}

header {
  display: flex;
  min-height: 50px;
  justify-content: space-between;
}

.navbar {
  background-color: #333;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 1em;
  padding: 2em;
}
.nav-list li {
  margin: 0 15px;
  flex: 2 2 100%;
}
.nav-list a {
  background-color: #a09a9a;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  transition: background-color 0.2s ease;
}
.nav-list a:hover {
  background-color: #a09a9a;
  border-radius: 15px;
}
.nav-list .nav-toggle{
  display:flex;
}

.navbar #title {
  white-space: nowrap;
  font: 2em sans-serif;
  padding: 2rem;
}

h2 {
  text-align: center;
  color: #a09a9a;
}

@media (min-width: 700px) {
  #menu {
    display: none;
  }
}
@media (max-width:700px) {
  #menu {
    display: block;
    font-size: 30px;
    color: rgb(197, 63, 70);
    cursor: pointer;
  }
  .nav-list {
    display: none;
  }
}

.image-gallery {
  display: grid;
  gap: 35px;
  padding: 30px;
}

.image-gallery img {
  width: 100%;
}

.image-gallery {
  grid-template-columns: 1fr;
}

@media (min-width: 700px) {
  .image-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .image-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

.show li {
  display: inline-block;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

  